/* Login Page Specific Styles */
.container {
  max-width: 500px;
  margin-top: 100px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  color: #0056b3; /* Light blue color */
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
}

/* Form Group Styles */
.form-group {
  margin-bottom: 20px;
}

/* Label Styles */
label {
  font-weight: 600;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

/* Input Field Styles */
input[type="email"], input[type="password"] {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 1rem;
}

/* Button Styles */
button.btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
  padding: 12px 30px;
  font-size: 1rem;
  width: 100%;
  color:azure;
  border-radius: 4px;
  cursor: pointer;
}

  /* Button Hover Styles */
  button.btn-primary:hover {
    background-color: #004085;
    color: white;
    border-color: #003366;
  }

/* Bottom Text Styles */
p {
  font-size: 0.9rem;
  color: #777;
  text-align: center;
}

  p a {
    color: #0056b3;
  }
