.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-left .navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-login-button,
.navbar-register-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
}

.profile-container {
  position: relative;
}

.profile {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-icon {
  font-size: 24px;
  margin-left: 20px;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  background: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

  .profile-dropdown p {
    margin: 0;
    padding-bottom: 10px;
  }

  .profile-dropdown button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
